.footercolor{
    background-color: #2c3e50;
}

.icondesign{
    width: 40px;
    height: 40px;
}
.linkcolor{
    color: #1abc9c;
}
.footer2color{
    background-color: #1a252f;
}
.fontfooter{
    font-size: 11px;
}